@import "tailwindcss";

@theme {
    --color-primary: #2b4bee;
    --color-background-light: #f6f6f8;
    --color-background-dark: #101322;
    --font-display: "Space Grotesk", sans-serif;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    
    /* Custom breakpoints */
    --breakpoint-xs: 475px;
}

body {
    background-color: #f6f6f8;
    color: #0d101b;
    font-family: var(--font-display), sans-serif;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.prompt-card:hover .prompt-image {
    transform: scale(1.03);
}

.custom-scrollbar::-webkit-scrollbar {
    height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}